body {
    background-image: url("./images/main-image.jpg");
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    background-color:lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul li, p{
    list-style-type: none;
    text-align: left;
}

img {
    height: 280px;
    width: auto;
    border: solid 2px black;
    border-radius: 50% 40px;
    box-shadow: 10px 20px 30px;
}

.box {
    background-color: antiquewhite;
    outline: 4px dashed salmon;
    width: 80%;
    height: auto;
    padding: 50px;
    margin: auto;
}