body {
    background-image: url("./images/main-image.jpg");
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    background-color:lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul li, p{
    list-style-type: none;
    text-align: left;
}

img {
    height: 280px;
    width: auto;
    border: solid 2px black;
    border-radius: 50%;
    box-shadow: 0px 1px 70px blue;
}

.box {
    background-color: antiquewhite;
    outline: 3px dashed salmon;
    width: 100;
    height: auto;
    padding: 50px;
    margin: auto;
}

.recipe-container {
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    display: flex;
    padding: 20px;
}

.recipe-container a {
    outline: 2px dashed lightgreen;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    text-decoration: none;
    color: black;
}